@charset "UTF-8";

@media screen and (min-width: 900px){

}

@media screen and (min-width: 1200px){

    main{
        width: 80vw;
        margin: 6rem;
        padding-bottom: 3rem;
        border-radius: 1rem;
        display: flex;
        flex-flow: row-reverse nowrap;
        align-items: center;
    }
}