@charset "UTF-8";

@media screen and (min-width: 900px){

}

@media screen and (min-width: 1200px){

    main{
        width: 80vw;
        margin: 6rem;
        padding-bottom: 3rem;
        border-radius: 1rem;
        display: flex;
        flex-flow: row-reverse nowrap;
        align-items: center;
    }

    picture{
        width: 50%;
    }

    img{
        border-top-left-radius: 0rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    article{
        width: 50%;
    }

    h1{
        font-size: 3.6rem;
    }

    strong{
        font-size: 3.6rem;
    }

}